<h1>Booking</h1>
<%= render partial: "flights/flight", locals: {flight: @flight} %>

<h2>Passengers:</h2>
<ol>
  <% @booking.passengers.each do |passenger| %>
    <li>
      <%= passenger.name %>
      <%= passenger.email %>
    </li>
  <% end %>
</ol>
